.timeline-Widget--edge {
    border-radius: 0px !important;
}
.timeline-Widget{
	border-radius: 0 !important;

}
.timeline-Footer {
    padding :0px !important;
    font-size: 12px;
    
}
.timeline-Body,
.timeline-Header-title {
	 font-family: "HelveticaNeueLTPro-Roman" !important;
}

